.bg-grey {
   background-color: rgba(0, 0, 0, 0.852); 
   opacity: 0.6;
}


p{
    margin: 60px 60px;
}
.box-title{
   color: white;
   opacity: .7;
   font-size: 230%;
   font-family: 'Brush Script MT', 
  
}
.about-img{
    
    margin-right: auto;
   
}
.about-box{
    display: flex !important;
    flex-wrap: wrap !important;
}

.list-style-1 {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list-style-1 li:before {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 13px;
    content: "\f058";
    color: blueviolet;
}
.list-style-1 li {
    position: relative;
    padding-left: 20px;
    color: rgb(9, 109, 215);
    margin-bottom: 10px;
}

.img-responsive{
  padding: 30px;

  margin: 100px 10px;
 
  object-fit:scale-down;
  max-width: 450px;

}
p{
    display:flex !important;
    flex-wrap: wrap !important;
}

.tiny-border{
    color: white;
}
.btn-small {
    padding: 10px 25px 10px 25px;
}
.divider-single {
    clear: both;
    height: 30px;
}

@media screen and (max-width: 600px) {
    .section{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (min-width: 360px) {
    .about-box{
        display: flex;
        flex-direction: column;
        align-items: center;
       
      }
  }

  @media screen and (min-width: 360px) {
    .about-img {
        object-fit: scale-down;
        width: 100px;
        height: 100px;
       
        
    }
  }
  @media screen and (min-width: 360px) {
    .about-img {
       
        width: 50px;
        height: 100px;
    
        
    }
}



$font-color: #a2a2a2;
$primary-color: #63b7e6;
#sec {
  font-family: "Raleway", sans-serif;
  padding: 50px 0;
  background: -webkit-linear-gradient(90deg, #00aaee 10%, #DD2476 90%);
  background:    -moz-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); 
  background:     -ms-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); 
  background:      -o-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); 
  background:         linear-gradient(90deg, #00aaee 10%, #DD2476 90%); 
  text-align: center;
  word-wrap: break-word;
  .test{
      height: 20em;
  }

  h2 {
    font-weight: 200;
    font-size: 30px;
    color: blue;
  }

  ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    li {
      padding: 40px;
      width: 300px;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }

      &:hover span {
        color: red;
      }
      &:hover p {
        color: rgb(237, 12, 12);
      }
      &:hover h3 {
        color: yellow;
      }
      &:hover h3:after {
        width: 25px;
      }
      span {
        font-size: 2.6em;
        display: block;
        transition: color 0.3s;
        color: green;
        &:before,
        &:after {
          position: static;
        }
      }

      h3 {
        color: darken(orange, 20%);
        display: inline-block;
        font-size: 24px;
        font-weight: 100;
        transition: color 0.3s;
        &:after {
          content: "";
          position: relative;
          left: 50%;
          top: 20px;
          transform: translateX(-50%);
          display: block;
          width: 40px;
          height: 1px;
          background: darken(orange, 20%);
          transition: width 0.3s;
        }
      }
      p {
        color: $font-color;
        text-align: left;
        text-indent: 1em;
        font-size: 16px;
        line-height: 6px;
        transition: color 0.3s;
      }
    }
  }
}










  